<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JS</title>
    <script src="angular.min.js"></script>
    <script src="myapp.js"></script>

    <style>
        .cart
        {
            background-color: lavender;
            width: 1000px;
            height: 1000px;

        }
    </style>

</head>
<body ng-app="myapp">

<div ng-controller="mycontroller">

    <div class="product">
    <div ng-repeat="item in products">
<h1>Products</h1>
        <p>{{item.name}}</p>
        <p>{{item.price}}</p>


        <input type="button" value="Add to Cart"
        ng-click="addtocart(item)">
    </div>
    </div>

    <h1>Carts</h1>
<div class="cart">
    <div ng-repeat="item in cart">
        <p>{{item.name}} --<input type="number" ng-value="item.qty"> </p>
        <!--<p>{{item.qty}}</p>-->
        <!--<p>{{item.price}}</p>-->
    </div>
</div>

    <div class="total">
        <h3>total: {{total}}</h3>

    </div>


</div>

</body>
</html>